/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: rgb(164, 0, 255);
    background: linear-gradient(
            130deg,
            rgba(164, 0, 255, 1) 0%,
            rgba(0, 174, 255, 1) 100%
        )
        fixed;
}

.container {
    max-width: 1200px;
    margin: 15px auto;
    padding: 0 40px;
    overflow: auto;
    background-color: rgba(245, 245, 245, 0.705);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Nav */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 45px 10px 15px;
}

#brand {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}

/* Form */
.form-row {
    display: flex;
    flex-direction: column;
}

.form-input {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

label {
    padding-bottom: 3px;
}

input {
    height: 23px;
    font-size: large;
}

.form-input > input,
.form-input > textarea {
    min-width: 200px;
}

input,
textarea {
    max-width: 70%;
    padding: 3px 0 0 4px;
    border-radius: 5px;
    border: none;
}

textarea {
    height: 128px;
}

#resetBtn {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    background-color: red;
    border: none;
    cursor: pointer;
    color: white;
}

#submitBtn {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(0, 165, 0);
    border: none;
    cursor: pointer;
    color: white;
}

#form-reset {
    flex-direction: row;
    gap: 20px;
}

/* Outputs */
.output {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title {
    margin-bottom: 10px;
    height: 32px;
    font-size: medium;
}

.output-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#output-heading {
    margin-bottom: 15px;
}

/* Responsive queries */

@media screen and (max-width: 1200px) {
    .form-input > label {
        white-space: pre;
    }

    .form-input > input,
    .form-input > textarea {
        min-width: 280px;
    }

    .output {
        margin-left: 20px;
    }

    .output-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}