/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: rgb(164, 0, 255);
    background: linear-gradient(
            130deg,
            rgba(164, 0, 255, 1) 0%,
            rgba(0, 174, 255, 1) 100%
        )
        fixed;

    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 15px auto;
    padding: 0 40px;
    overflow: auto;
    background-color: rgba(245, 245, 245, 0.705);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

label {
    padding-bottom: 3px;
}

.wrapper {
    padding: 12px 40px;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.output-container {
    display: flex;
    flex-direction: column;
}

.flex button span {
    font-size: 19px;
}

.flex button {
    align-self: center;
    border-radius: 0 5px 5px 0;
    border: none;
    cursor: pointer;
}

/* Nav */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 45px;
    height: 24px;
}

#brand {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}

/* Form */

.form {
    display: flex;
    flex-direction: column;
    margin: 4px 0;
    flex: 1;
}

input,
textarea {
    padding: 3px 4px;
    border-radius: 5px;
    border: none;
    resize: none;
}

.form input {
    max-width: 512px;
    height: 23px;
    font-size: large;
}

.form textarea {
    max-width: 512px;
    flex-basis: 128px;
}

#resetBtn, #submitBtn {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: white;
}

#resetBtn {
    background-color: red;
}

#submitBtn {
    background-color: rgb(0, 165, 0);
}

/* Output */

#title {
    border-radius: 5px 0 0 5px;
}

.form#output-form {
    margin: 0;
}

#work-notes {
    flex: 0 1 450px;
    border-radius: 5px 5px 0 0;
}

.flex-column .work-notes-copy {
    border-radius: 0 0 5px 5px;
    border: none;
    cursor: pointer;
}

#please-assist-ty {
    display: none;
}